body {
    font-family: 'Caveat', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

#content {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

#play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    color: #fff;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}